






.navbar-inverse {
    background-color: white;
    border-color: #fff0;
    padding: 8px 0px 8px 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #a0368c;
    font-family: 'Open Sans', sans-serif;
    }

.navbar-inverse .navbar-nav>li>a:hover{
    color: #a0368c;
    font-family: 'Open Sans', sans-serif;
    }


.navbar{
    margin-bottom:0px;
    border-radius: 0px;
    font-size: 16px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 25px;
    font-size: 18px;
}



.list-header{
    background-color:purple;
    padding-top: 3px;
    color:white;
}



























.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}



.sidebar .closebtn {
    position: relative;
    top: 0;
    border:none;
    font-size: 36px;
    color:black;
    text-decoration:none;
}


.openbtn {
    font-size: 36px;
    cursor: pointer;
    background-color: #ffffff00;
    color: black;
    padding: 10px 10px;
    border: none;
    text-decoration:none;
}

.openbtn:hover {
    color:black;
    text-decoration:none;
}

#main {
    transition: margin-left .1s;
}


.btn-nav {
    color: #fff;
    background: linear-gradient(to bottom, #cc0099 0%, #660066 100%);
    border-color: white;
    width: 100%;
    font-size: 18px;
    text-align: left;
    padding: 10px 10px 10px 20px;
}
.btn-nav a{
    color:white;
    }
  .dalamnav a{
    color:white;
    padding-left:40px;
    font-size: 18px;
    border-color: 1px solid white;
    display: block;
    border-bottom:0.2px solid #eee;
}
.btn-nav-user {
    color: #fff;
    background-color: #cc0099;
    border-color: black;
    width: 100%;
    border: 1px solid white;
    font-size: 18px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin:10px;
}
.btn-nav-user a{
    color: white;
}
#nav-product a{

    color:black;
    padding:8px 8px 8px 30px;
    font-size: 15px;
    border-color: 1px solid white;
    display: block;
    border-bottom:0.2px solid #eee;
}

#nav-akun a{

    color:black;
    padding-left:40px;
    font-size: 15px;
    border-color: 1px solid white;
    display: block;
    border-bottom:0.2px solid #eee;
}

.glyphicon-menu-down{
    position: relative;
    top: 1px;
    /* display: inline-block; */
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float:right;
    right: 10px;
}


.glyphicon-menu-down:hover{
     transform: rotate(180deg);
     transition: 0.5s;
}














































.intro-landing{
    bottom: 20px;
}